<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="DifficultyGame" value="Medium" />
    <add key="TimeWihoutApple" value="300" />
    <add key="PathToFile" value="C:\Users\piotr\Documents\netwrok.json" />
    <add key="LearningMode" value="Propagation" />
    <add key="Layer_1" value="18" />
    <add key="Layer_2" value="24" />
    <add key="Layer_3" value="20" />
     <add key="Layer_4" value="3" />
    <add key="ActivationFunc" value="Lineral" />
    <add key="PopulationCount" value="500" />
    <add key="CountPeopleInPopulation" value="500" />
    <add key="CounOfRepeat" value="300" />
    <add key="PropablityOfMutaion" value="30"/>
    <add key="PropablityOfCross" value="80"/>
    <add key="IterationOfPropagation" value="2000"/>
  </appSettings>
</configuration>
